<style>
    .form-group-filter {
        margin-bottom: 10px;
    }
</style>

<div class="card card-body">
    <div class="form">
        <div class="form-content">
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-1">
                    <div class="form-group-filter">
                        <button type="button" class="btn btn-info btn-block create" id="addButton">Add</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group-filter">
                        <input type="text" class="form-control" id="Employee_ID_Number" placeholder="Employee ID Number" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group-filter">
                        <input type="text" class="form-control" id="Employee_Name" placeholder="Employee Name" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group-filter">
                        <input class="form-control" list="Company_Name_List" id="Company_Name" placeholder="- Select Company Name -" />
                        <datalist id="Company_Name_List">
                        </datalist>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group-filter">
                        <input type="text" class="form-control createDateSearch" id="Created_Date" placeholder="Created Date" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group-filter">
                        <input type="text" class="form-control" id="Created_By" placeholder="Created By" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group-filter">
                        <button type="button" class="btn btn-warning btn-block" id="searchButton">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/jsdata/company.js"></script>*@