<style>
    .form-group-filter {
        margin-bottom: 10px;
    }
</style>

<div class="card card-body">
    <div class="form">
        <div class="form-content">
            <div class="row">
                <div class="col-md-11">
                </div>
                <div class="col-md-1">
                    <div class="form-group-filter">
                        <button type="button" class="btn btn-info btn-block create" id="addButton">Add</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group-filter">
                        <input type="text" class="form-control" id="Transaction_Code" placeholder="Transaction Code" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group-filter">
                        <input type="text" class="form-control" id="Request_By" placeholder="Request By" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group-filter">
                        <input type="text" class="form-control createDateSearch" id="Request_Date" placeholder="Request Date" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group-filter">
                        <input type="text" class="form-control" id="Status" placeholder="Status" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group-filter">
                        <input type="text" class="form-control createDateSearch" id="Created_Date" placeholder="Created Date" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group-filter">
                        <input type="text" class="form-control" id="Created_By" placeholder="Created By" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group-filter">
                        <button type="button" class="btn btn-warning btn-block" id="searchButton">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>